*{
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    background-color: #FF8C00;
     height: 80px; 
    display: flex;
   justify-content: center;
   align-items: center;
   position: fixed;
   top: 0;
   left: 0;
}
.head{
    width: 70%;
    height: 50px;
    /* background-color: brown; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo{
    height: 30px;
    width: 120px;
}
.gen{
    text-decoration: none;
    color: white;
}
.user{
    color: white;
}
main{
    margin-top: 120px;
    width: 100%;
    /* height: 1300px; */
    background-color: white;
}
.container{
    width: 70%;
    /* background-color: burlywood; */
     /* height: 1000px;  */
    margin: auto;
    margin-top: 50px;
}
.row{
    width: auto;
    /* height: 700px; */
    padding-bottom: 130px;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    margin-bottom: -100px;

    
}
.img{
    width: 380px;
    /* height: 500px;  */
    
}
.perc{
    height: 20px;
    width: 40px;
    background-color: red;
   
}
.prezzo{
   color: red;
}
.sconto{
    color: black;
 }
.marca{
    color: gray;
}
.row2{
    width: auto;
    /* height: 700px; */
    padding-bottom: 80px;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    
    
}
footer{
    width: 100%;
    background-color: #1a1a1a;
      height: 80px;  
    display: flex;
   justify-content: center;
   align-items: center;
   
   
}
.footer{
    width: 70%;
    /* height: 50px; */
    /* background-color: brown;  */
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.azienda{
    color: white;
    font-size: 17px;
}
.social{
    color: white;
    font-size: 12px;
}
.gen2{
    text-decoration: none;
    color: white;
    margin-right: 5px;
}