*{
    margin: 0;
    box-sizing: border-box;
}
/* HEADER */
header{
    width: 100%;
    background-color: #FF8C00;
     height: 80px; 
    display: flex;
   justify-content: center;
   align-items: center;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 500;
}
.head{
    width: 70%;
    height: 50px;
    /* background-color: brown; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo{
    height: 30px;
    width: 120px;
}
.gen{
    text-decoration: none;
    color: white;
}
.user{
    color: white;
}
/* MAIN */
main{
    margin-top: 120px;
    width: 100%;
     /* height: 1300px;  */
    background-color: white;
}
.container{
    width: 70%;
    /* background-color: burlywood; */
     /* height: 1000px;  */
    margin: auto;
    margin-top: 50px;
}
.row{
    width: auto;
    /* height: 700px; */
    padding-bottom: 130px;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    margin-bottom: -100px;
    

    
}
.size{
    width: 380px;
       /* height: 500px;       */
}
 .imag{
    position: relative;
} 
 .img1:hover{
    content:url(../img/1b.webp);
} 

 .img2:hover{
    content: url(../img/2b.webp);
} 

.img3:hover{
    content: url(../img/3b.webp);
}

.img4:hover{
    content: url(../img/4b.webp);
}

.img5:hover{
    content: url(../img/5b.webp);
}

.img6:hover{
    content: url(../img/6b.webp);
}
.perc{
    /* height: 20px; */
    width: 50px;
    background-color: red;
    position: absolute;
    left: 0;
    bottom: 40px;
   
}
.img:hover{
    background-image: url(../img/1b.webp);
}
.sost{
    /* height: 20px; */
    width: 85px;
    background-color: green;
    position: absolute;
    left: 55px;
    bottom: 40px;
    
    
}

.sost2{
    /* height: 20px; */
    width: 85px;
    background-color: green;
    position: absolute;
    left: 0px;
    bottom: 40px;
    
    
}

.white{
    color: white;
    text-align: center;
    font-size: 15px;
}
.heart{
    text-align: center;
    font-size: 20px;
    padding-top: 5px;
    height: 30px;
    width: 50px;
    background-color: white;
    position: absolute;
    right: 0;
    top: 40px;
}
.heart:hover{
    color:red;
}
.prezzo{
   color: red;
}
.sconto{
    color: black;
 }
.marca{
    color: gray;
}
.row2{
    width: auto;
    /* height: 700px; */
    padding-bottom: 80px;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    
    
}
/* FOOTER */
footer{
    width: 100%;
    background-color: #1a1a1a;
       height: 80px;   
    display: flex;
   justify-content: center;
   align-items: center;
   
   
}
.footer{
    width: 70%;
    /* height: 50px; */
    /* background-color: brown;  */
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.azienda{
    color: white;
    font-size: 17px;
}
.social{
    color: white;
    font-size: 12px;
}
.gen2{
    text-decoration: none;
    color: white;
    margin-right: 5px;
}